@model DrawNet.Draw.Core.Services.Email.Models.ResetPasswordEmail
<img src="@Model.CompanyImageUrl"/>
<h1>Password Reset Request</h1>
<br/>
<p>Hi @Model.FullName,</p>
<p>To reset your password, please click the link below. Your changes here will update the password for your account at DrawNet with @Model.CompanyName and any service in which you use your DrawNet ID.</p>
<br/>
<strong><a href="@Model.PasswordResetUrl">Reset Password</a></strong>
<br/>
Thank You,
The DrawNet Development Team