@{
    ViewBag.Title = "Password Assistance";
}

<div class="row" style="padding: 20px 20px 0 20px;">
    <section id="passwordAssistance">
        <p>Check your Email.</p>
        <p>If the Username you entered is associated with an account in our records, you will receive an Email from us with instructions for resetting your password.</p>
        <p>If you don't receive this e-mail, please check your junk mail folder first, then contact Customer Service for further assistance.</p>
        @Html.ActionLink( "Return to Sign In Page.", "Login" )
    </section>
</div>